<form class="container">
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" id="firstname" class="form-control">
  </div>

  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" id="lastname" class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Last Name</label>
    <input type="email" id="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="password">Last Name</label>
    <input type="pass" id="password" class="form-control">
  </div>

  <button (click)="logout()">SIGN UP</button>

  <p>or login with</p>
</form>

<button class="btn btn-primary" (click)="login()">Google</button>

